{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="signup-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group" id="companyId">
                <label for="company_id">Company ID:</label>
                <input type="text" id="company_id" name="company_id">
            </div>
            
            <div id="new-company-fields" style="display: none;">
                <div class="form-group">
                    <label for="name">Company Name:</label>
                    <input type="text" id="cname" name="cname">
                </div>
                <div class="form-group">
                    <label for="location">Company Location:</label>
                    <input type="text" id="location" name="location">
                </div>
                <div class="form-group">
                    <label for="license_id">License ID:</label>
                    <input type="text" id="license_id" name="license_id">
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="new-company-checkbox" name="new_company">
                <label for="new-company-checkbox">New Company</label>
            </div>
            <button type="submit">Sign Up</button>
        
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var newCompanyCheckbox = document.getElementById("new-company-checkbox");
            var newCompanyFields = document.getElementById("new-company-fields");
    
            newCompanyCheckbox.addEventListener("change", function() {
                if (newCompanyCheckbox.checked) {
                    newCompanyFields.style.display = "block";
                    document.getElementById("companyId").style.display = "none";
                } else {
                    newCompanyFields.style.display = "none";
                    document.getElementById("companyId").style.display = "block";
                }
            });
    
            var signupForm = document.getElementById("signup-form");
    
            signupForm.addEventListener("submit", function(event) {
                event.preventDefault();
    
                var formData = new FormData(signupForm);
                var formDataObject = {};
                formData.forEach(function(value, key) {
                    formDataObject[key] = value;
                });
    
                var url = "/api/signup/";
    
                // Fetch CSRF token from cookie
                var csrftoken = getCookie('csrftoken');
    
                fetch(url, {
                    method: "POST",
                    body: JSON.stringify(formDataObject),
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken  // Include CSRF token in headers
                    }
                })
                .then(function(response) {
                    if (response.ok) {
                        alert("Sign up successful!");
                        window.location.href = "/login"; // Redirect to login page after successful sign up
                    } else {
                        alert("Error signing up. Please try again.");
                    }
                })
                .catch(function(error) {
                    console.error("Error:", error);
                });
            });
    
            // Function to get CSRF token from cookie
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>
    
</body>
</html>
